# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [2]:
# Dictionary -> Series
dict_data = {'a': 1, 'b': 2, 'c': 3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [3]:
# Series로 변환
import pandas as pd

sr = pd.Series(dict_data)
sr
# 키값 자체가 인덱스 처럼 취급

a    1
b    2
c    3
dtype: int64

In [4]:
sr['a']

1

In [6]:
# List -> Series
list_data = ['2021-12-31', 3.14, 'abc', 100, True]
list_data

['2021-12-31', 3.14, 'abc', 100, True]

In [8]:
sr = pd.Series(list_data)
sr 
# 인덱스 값이 인덱스로 들어간다 
# 왼쪽 인덱스 오른쪽 value  라고 한다

0    2021-12-31
1          3.14
2           abc
3           100
4          True
dtype: object

In [15]:
# index와 value를 따로 저장
index = sr.index
value = sr.values

print(index) # 범위만 나옴, but for문에 쓸떄는 사용 가능 
print(list(index)) # 쪼로록 나옴 
print(value) # , 없음
print(list(value)) # , 있음

RangeIndex(start=0, stop=5, step=1)
[0, 1, 2, 3, 4]
['2021-12-31' 3.14 'abc' 100 True]
['2021-12-31', 3.14, 'abc', 100, True]

In [16]:
# Tuple -> Series
tuple_data = ('유비','2022-12-31','남',False)
tuple_data

('유비', '2022-12-31', '남', False)

In [17]:
sr = pd.Series(tuple_data)
sr

0            유비
1    2022-12-31
2             남
3         False
dtype: object

In [19]:
# index 이름 변경하기
sr = pd.Series(tuple_data, index = ['이름' , '생년월일' ,'성별' ,'학생 여부'])
sr

이름               유비
생년월일     2022-12-31
성별                남
학생 여부         False
dtype: object

In [21]:
# Series에서 Data 선택하기
print(sr['이름'])
print(sr[0])

유비
유비

In [26]:
# 두개의 index 선택 , 두개 이상 선택할때는 []를 씌운다
print(sr[['생년월일','성별']])
print(sr[[1,2]])

생년월일    2022-12-31
성별               남
dtype: object
생년월일    2022-12-31
성별               남
dtype: object

In [28]:
# 범위로 index 선택 : Slicing
print(sr[0:4])
print(sr['이름':'성별'])
# : 은 , 를 쓸 필요가 없어서 한개 취급

이름               유비
생년월일     2022-12-31
성별                남
학생 여부         False
dtype: object
이름              유비
생년월일    2022-12-31
성별               남
dtype: object

### Series 의 연산

In [29]:
student = pd.Series({'국어':100,'영어':80,'수학':90})
student

국어    100
영어     80
수학     90
dtype: int64

In [30]:
# 과목의 점수를 200으로 나누자!
student / 200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [31]:
student = pd.Series({'국어':100,'영어':80,'수학':90})
student1 = pd.Series({'수학':80,'국어':90,'영어':80})

In [33]:
# 덧셈
addition = student + student1
addition # 키값에 맞춰 덧셈을 한다 
# 데이터 많은 경우는 딕셔너리가 데이터 낭비가 많아 그때는 리스트로 사용하는 것이 낫다

국어    190
수학    170
영어    160
dtype: int64

In [34]:
# 뺄셈
subtraction = student - student1
# 곱셈
multiplication = student * student1
# 나눗셈
division = student / student1

In [40]:
# 사칙연산 결과를 데이터 프레임으로 만들기 
pd.DataFrame([addition,subtraction,multiplication,division] , columns=['국어','수학','영어'] , index=['덧셈','뺄셈','곱셈','나눗셈'])

              국어        수학      영어
덧셈    190.000000   170.000   160.0
뺄셈     10.000000    10.000     0.0
곱셈   9000.000000  7200.000  6400.0
나눗셈     1.111111     1.125     1.0

# Nan값이 있는 연산

In [41]:
import numpy as np

In [42]:
student1 = pd.Series({'국어':np.nan , '영어':80, '수학':90}) # NA값을 만들 수 있는건 np밖에 없다
student2 = pd.Series({'국어': 90 , '수학':90})

In [43]:
print(student1 , student2)

국어     NaN
영어    80.0
수학    90.0
dtype: float64 국어    90
수학    90
dtype: int64

In [46]:
# 덧셈
addition = student1 + student2
# addition = student1.add(student2) # 이렇게 쓸 수 도 있지만 안쓴다
addition

국어      NaN
수학    180.0
영어      NaN
dtype: float64

In [55]:
# 뺄셈
subtraction = student1 - student2
# subtraction = student1.sub(student2)

subtraction

국어    NaN
수학    0.0
영어    NaN
dtype: float64

In [56]:
# 곱셈
multiplication = student1 * student2
# multiplication = student1.mul(student2)
multiplication

국어       NaN
수학    8100.0
영어       NaN
dtype: float64

In [57]:
# 나눗셈
division = student1 / student2
# division = student1.div(student2)

division

국어    NaN
수학    1.0
영어    NaN
dtype: float64

In [58]:
# 사칙연산 결과를 데이터 프레임으로 만들기
result = pd.DataFrame([addition , subtraction , multiplication, division] , index = ['덧셈','뺼셈','곱셈','나눗셈'])
result

     국어      수학  영어
덧셈  NaN   180.0 NaN
뺼셈  NaN     0.0 NaN
곱셈  NaN  8100.0 NaN
나눗셈 NaN     1.0 NaN

In [59]:
addition = student1.add(student2 , fill_value= 0 ) # , fill_value= 0 : Nan값을 0 으로 채워라
subtraction = student1.sub(student2 , fill_value= 0 )
multiplication = student1.mul(student2 , fill_value= 0 )
division = student1.div(student2 , fill_value= 0 )

In [60]:
# 사칙연산 결과를 데이터 프레임으로 만들기
result1 = pd.DataFrame([addition , subtraction , multiplication, division] , 
    index = ['덧셈','뺼셈','곱셈','나눗셈']
)
result1 
# 영어에서 inf; infinity 무한대 발생

       국어      수학    영어
덧셈   90.0   180.0  80.0
뺼셈  -90.0     0.0  80.0
곱셈    0.0  8100.0   0.0
나눗셈   0.0     1.0   inf

---