# 데이터 베이스
- 규모가 크지 않은 데이터라면 csv와 json형식으로 사용해도 문제는 없음.
- 데이터 규모가 굉장히 크거나 복잡하면 데이터베이스를 사용하는 것이 편리.

### 장점
- 데이터와 관련된 모든 처리를 하나의 소프트웨어로 할 수 있음
- 여러 데이터의 속성을 연관시키며 저장 가능,
- 중복된 데이터를 허용하지 않는 제약을 둘 수 있음
- 데이터의 정합성을 확보
- 데이터에 동시 접근했을 경우 문제 처리
- 대량의 데이터를 조금씩 읽어 사용 할 수 있으며 정렬 등도 쉽게 처리함

### SQLite
: 가볍게 파일 하나로 사용할 수 있는 데이터베이스

## 나만 볼 수 있고 다른 사람은 볼 수 는 없다 연동은 안되는 DB
- 스마트폰에서도 많이 사용, 안드로이드 처음 나왔을 떄 같이 나옴

In [1]:
import sqlite3

# sqlite Database에 연결하기
dbpath = "../Data/test.sqlite"
conn = sqlite3.connect(dbpath)

# 테이블을 생성하고 데이터 넣기
curs = conn.cursor()
curs.executescript(
    """
    /* item 테이블이 이미 있다면 제거 */
    DROP TABLE IF EXISTS items;

    /* 테이블 생성하기 */
    CREATE TABLE items(
        item_id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT UNIQUE,
        price INTEGER
    );
    /* 데이터 넣기 */
    Insert into items(name, price) values ('Apple',800);
    Insert into items(name, price) values ('Orange',780);
    Insert into items(name, price) values ('Banana',430);
    """
)

In [2]:
# 위의 조작을 데이터베이스에 반영하기
conn.commit()

In [3]:
# 데이터 추출하기
curs = conn.cursor()
curs.execute("SELECT item_id, name, price FROM items")
item_list = curs.fetchall()

# 출력하기
for it in item_list:
    print(it) # 튜플로 출력됨

(1, 'Apple', 800)
(2, 'Orange', 780)
(3, 'Banana', 430)

In [4]:
# 데이터 넣기
curs = conn.cursor()
curs.execute("INSERT INTO items (name, price) values (?, ?)", ("Mango",5200))
conn.commit()

In [5]:
# 여러 데이터를 연속으로 넣기
curs = conn.cursor()
data = [("Kiwi", 4000) , ("Grape",8000), ("Peach",9400)]
curs.executemany("INSERT INTO items (name, price) VALUES (?, ?)", data)
conn.commit()

In [6]:
# 4000~ 7000원 사이 데이터 추출하기
curs = conn.cursor()
price_range = (4000, 7000)
curs.execute("SELECT * FROM items WHERE price between ? AND ?", price_range)
item_list = curs.fetchall()

# 출력하기
for it in item_list:
    print(it) # 튜플로 출력됨

(4, 'Mango', 5200)
(5, 'Kiwi', 4000)

---
# MYSQL 연결

In [7]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.9 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [8]:
import pymysql

In [9]:
# pymysql을 사용하여 데이터베이스 연결하기
conn = pymysql.connect(
    host='127.0.0.1',
    user='root',
    passwd='qwer1234',
    db='education',
    charset='utf8',)

In [10]:
# 커서 생성
curs = conn.cursor()

In [11]:
# sql문장
sql = "select * from student"
curs.execute(sql)

13

In [12]:
# data fetch
rows = curs.fetchall()
print(rows)

(('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-001', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('S010', 'James', 'Computer', '1234', None), ('S777', 'Cathy', 'Math', '12345', None), ('S888', 'James', 'math', '1234', None), ('S999', '홍길동', '컴공', '123', None))

In [13]:
# connection 종료
conn.close()

In [14]:
# list 로 변환
rowList = list(rows)
print(rowList)

[('b002', '관우', '심리학과', '010-222', '서울'), ('b003', '장비', '경제학과', '010-333', '서울'), ('c002', '여포', '심리학과', '016-222', '경기'), ('c003', '손견', '경제학과', '016-333', '경기'), ('d001', '홍길동', '수학과', '017-001', '광주'), ('S001', '박소명', '컴퓨터공학과', '123-4567', None), ('S002', '최민국', '컴퓨터공학과', '234-5678', None), ('S005', '김상진', '사학과', '567-8901', None), ('S006', '황정숙', '사학과', '678-9012', None), ('S010', 'James', 'Computer', '1234', None), ('S777', 'Cathy', 'Math', '12345', None), ('S888', 'James', 'math', '1234', None), ('S999', '홍길동', '컴공', '123', None)]

In [15]:
# data type 확인
type(rowList)

list