In [1]:
range(1, 11)

range(1, 11)

In [2]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [5]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
list(range(0,10,-2))
# 안되는 수식이지만 에러는 안뜸 항상 사용할때 확인하고 넘어가야 한다

[]

In [8]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
# 1에서 10까지의 제곱근을 출력하기
import math
for i in range(1,11):
    # print(" {0} : {1}".format(i,math.sqrt(i)))
    print("%2d : %0.8f"%(i, math.sqrt(i)))

 1 : 1.00000000
 2 : 1.41421356
 3 : 1.73205081
 4 : 2.00000000
 5 : 2.23606798
 6 : 2.44948974
 7 : 2.64575131
 8 : 2.82842712
 9 : 3.00000000
10 : 3.16227766

In [19]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [24]:
# for문에 tuple 사용하기
var = [(1,2),(3,4),(5,6),(7,8),]

for first, last in var:
    print(first,':', last)

var = [(1,2,3),(3,4,5),(5,6,7),(7,8,9),]
for f, l , x in var:
    print(f,':', l ,":" , x)

1 : 2
3 : 4
5 : 6
7 : 8
1 : 2 : 3
3 : 4 : 5
5 : 6 : 7
7 : 8 : 9

총 5명의 학생이 시험을 보았는데, <br>
시험점수가 60점을 넘으면 합격, 그렇지 않으면 불합격이다. <br>
합격, 불합격 보여주기

In [32]:
scores = [90,25, 67, 45, 80]

for number in range(len (scores)):
    result = "합격" if (scores[number] > 60) else "불합격"
    print("%d의 학생의 결과는 %s입니다."%(number+1,result))

# --------------------------

scores = [90,25, 67, 45, 80]

for number in range(len (scores)):
    result = "합격" if (scores[number] > 60) else "불합격"
    print("%d의 학생의 시험점수는 %d 이며, 결과는 %s입니다."%(number+1,scores[number],result))

1의 학생의 결과는 합격입니다.
2의 학생의 결과는 불합격입니다.
3의 학생의 결과는 합격입니다.
4의 학생의 결과는 불합격입니다.
5의 학생의 결과는 합격입니다.
1의 학생의 시험점수는 90 이며, 결과는 합격입니다.
2의 학생의 시험점수는 25 이며, 결과는 불합격입니다.
3의 학생의 시험점수는 67 이며, 결과는 합격입니다.
4의 학생의 시험점수는 45 이며, 결과는 불합격입니다.
5의 학생의 시험점수는 80 이며, 결과는 합격입니다.

In [39]:
scores = [90,25, 67, 45, 80]
number = 0

for score in scores:
    number += 1
    result = "합격" if score > 60 else "불합격"
    print("%d의 학생의 결과는 %s입니다."%(number,result))

# --------------------------
scores = [90,25, 67, 45, 80]


for i, score in enumerate(scores): # 파이썬 내장함수 enumerate , 변수만 주면 몇번째 for문을 돌고있는지 알 수 있다. 변수명 i , idx 등 아무렇게나 줘도 됨
    result = "합격" if score > 60 else "불합격"
    print("%d의 학생의 시험점수는 %d 이며, 결과는 %s입니다."%(i+1 ,score,result))

1의 학생의 결과는 합격입니다.
2의 학생의 결과는 불합격입니다.
3의 학생의 결과는 합격입니다.
4의 학생의 결과는 불합격입니다.
5의 학생의 결과는 합격입니다.
1의 학생의 시험점수는 90 이며, 결과는 합격입니다.
2의 학생의 시험점수는 25 이며, 결과는 불합격입니다.
3의 학생의 시험점수는 67 이며, 결과는 합격입니다.
4의 학생의 시험점수는 45 이며, 결과는 불합격입니다.
5의 학생의 시험점수는 80 이며, 결과는 합격입니다.

학생들 점수의 평균을 구하여 평균점수 보다 낮으면 불합격
평균점수보다 같거나 높으면 합격을 같이 보여주기

In [36]:
import numpy as np

In [48]:
scores = [90,25, 67, 45, 80]
number = 0
mean = np.mean(scores)

print("학급의 평균 점수는 %0.2f입니다."%mean)
for score in scores:
    number += 1
    result = "합격" if score > mean else "불합격"
    print("%d의 학생의 점수는 %d, 결과는 %s입니다."%(number,score,result))

학급의 평균 점수는 61.40입니다.
1의 학생의 점수는 90, 결과는 합격입니다.
2의 학생의 점수는 25, 결과는 불합격입니다.
3의 학생의 점수는 67, 결과는 합격입니다.
4의 학생의 점수는 45, 결과는 불합격입니다.
5의 학생의 점수는 80, 결과는 합격입니다.

In [50]:
scores = [90,25, 67, 45, 80]
number = 0

for score in scores:
    number += 1
    result = "합격" if score > 60 else "불합격"
    if result == "불합격":
        continue
    print("%d의 학생의 점수는 %d, 결과는 %s입니다."%(number,score,result))

1의 학생의 점수는 90, 결과는 합격입니다.
3의 학생의 점수는 67, 결과는 합격입니다.
5의 학생의 점수는 80, 결과는 합격입니다.

총 5명의 학생이 시험을 보았는데 시험점수가 60점을 넘으면 합격이고 그렇지 않으면 불합격이다. <br>
합격인 학생들의 번호만 새로운 list를 생성하여 출력하기

In [59]:
scores = [90,25, 67, 45, 80]
number = 0
pass_num = []

for score in scores:
    number += 1
    if score > 60:
        pass_num.append(number)

print("합격자 번호\n---------")
for i in range(len(pass_num)):
    print('{0:^10}'.format(pass_num[i]))

합격자 번호
---------
    1
    3
    5
합격자 번호
---------
    6
    6
    8
    8
    10

In [63]:
# 2 -------------
scores = [90,25, 67, 45, 80]
number = 0
pass_num = []

print("합격자 번호\n---------")
for score in scores:
    number += 1
    if score < 60:
        continue
    pass_num.append(number)
    print('{0:^10}'.format(pass_num[len(pass_num) - 1]))

합격자 번호
---------
    1
    3
    5

---
# 문장과 단어 추출

In [64]:
string = """나는 홍길동 입니다.
주소는 서울시 입니다.
나이는 35세 입니다."""

In [65]:
string

'나는 홍길동 입니다.\n주소는 서울시 입니다.\n나이는 35세 입니다.'

In [70]:
# 문단 -> 문장 -> 단어
sents = [] # 문장 저장
words = [] # 단어 저장

for sen in string.split("\n"):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)

print(sents)
print(words)

['나는 홍길동 입니다.', '주소는 서울시 입니다.', '나이는 35세 입니다.']
['나는', '홍길동', '입니다.', '주소는', '서울시', '입니다.', '나이는', '35세', '입니다.']

In [72]:
# 잘 쓰이지 않음 
var01 = [1,2,3,4]
var02 = []

# var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기
for i in var01:
    var02.append(i * 5)
var02

[5, 10, 15, 20]

# 파이썬의 listed for문

In [73]:
# 파이썬에서 쓰이는 방식 
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]

var02

[5, 10, 15, 20]

In [77]:
# var01 의 데이터가 짝수 인 경우에만 5를 곱하여 var02 list만들기
var01 = [1,2,3,4,5,6,7,8,9]

var02 = [ i * 5 for i in var01 if i % 2 == 0]

var02

[10, 20, 30, 40]

In [84]:
# 구구단 결과 리스트
dan = [2,3,4,5,6,7,8,9]

gugudan = [ i * j for j in dan for i in range(1,10)]

print(gugudan)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [88]:
# 60점 이상의 학생 점수만 list로 만들어서 평균 출력하기 (listed for문 사용)
import numpy as np

scores = [90,25,67,45,80]
pass_scores = [i for i in scores if i > 60]

print("합격한 학생들의 평균 점수는 %0.2f입니다."%np.mean(pass_scores))

합격한 학생들의 평균 점수는 79.00입니다.

---